*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body{
    background-image: url(https://images2.alphacoders.com/870/870886.jpg);
    background-repeat: no-repeat;
    background-size: 1366px 901px;
}