<div class="container">

    <div class="movie_list">

        <div class="header">
            <h1>Movie Lister</h1>
        </div>

        <div class="search_bar">
            <input class="input" id="inputEnter" type="text" (keydown.enter)="getMovie($any($event.target))" placeholder="Busque o filme" [(ngModel)]="inputName">
            <button class="search_btn" id="searchBtn" type="submit" (click)="getMovie($any($event.target))">🔍</button>
        </div>

        <div class="card">
            <h1 class="title">{{movie.Title}}</h1>
            <img class="movie_poster" src="{{movie.Poster}}" alt="">
            <p class="movie_link">See movie info</p>
         </div>

    </div>

    </div>